body {
    margin: 0;
    padding: 0;
    background-color: #1C1B21;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    outline: none;
}

p {
    margin: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.preview {
    background-image: url("../img/preview_back.png");
    background-size: cover;
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    padding: 30px 0;
    // .header__logo

    &__logo {

    }

    // .header__menu

    &__menu {
        margin-left: 65px;
    }

    // .header__ul

    &__ul {
        display: flex;
        gap: 55px;
    }

    // .header__item

    &__item {
    }

    // .header__link

    &__link {
    }
}



.preview {

    // .preview__text

    &__text {
        margin-top: 320px;
        font-family: 'Inter', sans-serif;
        padding-bottom: 130px;
    }

    // .preview__title

    &__title {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 10px;
    }

    // .preview__name

    &__name {
        font-size: 100px;
        margin-bottom: 50px;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        line-height: 150px;
    }

    // .preview__player

    &__player {
       display: flex;
       align-items: center;
    }

    // .preview__play

    &__play {
        display: flex;
        align-items: center;
    }

    // .preview__line

    &__line {
        position: relative;
        width: 100%;
        margin: 0 45px;
        height: 2px;
        background-color: white;
    }

    &__time {
        min-width: 110px;
    }
}
.fully {

    // .fully__line

    &__line {
        height: 2px;
        background-color: #7A66CC;
        position: absolute;
        width: 30%;
        &::before{
            content: '';
            height: 20px;
            background-color: #7A66CC;
            width: 2px;
            position: absolute;
            right: 0;
            top: -9px;
        }
    }
}


.blog {
    margin-bottom: 180px;
    display: flex;
    gap: 30px;
    // .blog__item

    &__item {
        position: relative;
        max-width: 350px;
        border-radius: 20px 0px;
    }

    // .blog__img

    // &__img {
    //     position: absolute;
    // }

    // .blog__text

    &__text {
        position: absolute;
        bottom: 0;
        padding: 20px;
        background: #7A66CC;
        opacity: 0.7;
        border-radius: 20px 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }
}
